html
  head
    include stylesheets.pug
  body
    include nav.pug
    h2 Biography
    p.about I was born and raised in Bakersfield, CA and always wanted to become a real life baker. I've been on the Great British Baking Show that you've probably seen on Netflix and, even though I lost, I was still the best baker on there. Obviously.
    p.about "At Bakerz Delight, we'll always give you a bite."