html
  head
    include stylesheets.pug
  body
    include nav.pug
    h2 Top Pastries
    ul.list-group
      li.list-group-item éclair
        img.pastry.img-thumbnail(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT37jST65qEEdrfjcCp-6ZFxvHiBKeHFy_Kb0AmQ0KXRBm4M32XGFTnL7g")
      li.list-group-item Cannoli
        img.pastry.img-thumbnail(src="https://cdn1.sugarandsoul.co/wp-content/uploads/2018/01/homemade-cannoli-recipe-4.jpg")
      li.list-group-item Macaron
        img.pastry.img-thumbnail(src="https://www.aheadofthyme.com/wp-content/uploads/2017/02/classic-french-macaron-with-vanilla-buttercream-filling-7.jpg")
      li.list-group-item Mille-fueille
        img.pastry.img-thumbnail(src="http://www.bakingmywaythroughgermany.com/wp-content/uploads/2016/01/Napoleons_14-copy.jpg")
      li.list-group-item Religieuse
        img.pastry.img-thumbnail(src="https://www.bbcgoodfood.com/sites/default/files/recipe_images/raspberry-religieuse.jpg")